.cardsStyleMain{
    border-width: 1px;
    width: 25%;
    
  }
  
  .cardsStyleInner{
      display: flex;
      margin-top: 50px;
      margin-bottom: 20px;
      margin-right: 10px ;
        
        margin-left: 10px;
      background-color:rgb(233, 173, 208);
      flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style:solid;
  border-color: black;
  border-radius: 30px;
  padding: .5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  
  }
  .innerStyle
  {  font-family: 'Pacifico', cursive;
  margin-top: 3px;
  
  }
  
  .cardsStyleInner:hover
  {
      transform: scale(1.25);
  }
  